@import "fonts";
@import "variables";

body {
  background: $color-1;
  font-family: $font-1;
  color: $color-2;
  font-weight: 300;


  .filters {
    .filter {
      float: left;
      margin: 1em 1em 1em 0;
      cursor: pointer;
      color: $color-3;
      font-size: .9em;
      text-decoration: underline;

      &.active {
        text-decoration: none;
      }
    }

    clear: both;
  }

  .text-input {
    font-size: 1em;
    padding: .4em;
    border-radius: 1em;
    margin-left: .3em;
    outline:none;
  }

  .btn {
    font-size: 1em;
    padding: .4em;
    border-radius: 1em;
    margin-left: .3em;
  }

  li {
    float: right;
    width: 100%;

    &.done {
      text-decoration: line-through;
      color: $color-4;
    }

    .buttons {
      width: 5em;
      float: right;
      cursor: pointer;

      .status {
        color: $color-5;
        float: left;

        &.done {
          color: $color-6;
        }
      }

      .remove {
        color: #fff;
        background: $color-5;
        border-radius: 1em;
        padding: .1em;
        width: 1em;
        height: 1em;
        line-height: .9em;
        text-align: center;
        float: right;
      }
    }

  }

}



